:root {
  --gray-50: #f8f8f8;
  --gray-75: #e9e9e9;
  --gray-100: #e2e2e2;
  --gray-200: #a8a8b3;
  --gray-300: #737380;
  --gray-400: #29292e;

  --purple: #835afd;
  --pink: #e559f9;
  --white: #ffffff;
  --red-google: #ea4335;
}
